In [16]:
import numpy as np
import pandas as pd

df = pd.read_csv("data/sla-sale-sites.csv")

In [17]:
df.head()

,date_of_launch,date_of_tender_closing_or_auction,date_of_award,location,type_of_development_allowed,site_area,gross_floor_area,gross_plot_ratio,name_of_successful_tenderer_or_bidder,successful_tender_or_auction_price,remark
0,2010-11-30,2010-12-28,2011-01-12,Lorong Chencharu Land Parcel 10,Aquarium Fish Export Centre,5064.8,na,na,Sunbeam Aquarium (Pte) Ltd,289000.0,na
1,2010-08-18,2010-09-15,2010-10-28,Lorong Chencharu Land Parcel 8,Aquarium Fish Export Centre,5126.9,na,na,Aqua Fauna International Pte Ltd,198000.0,na
2,2010-08-18,2010-09-15,2010-10-28,Lorong Chencharu Land Parcel 11,Aquarium Fish Export Centre,4000.6,na,na,Aqua Fauna International Pte Ltd,112016.8,na
3,2010-05-27,2010-06-24,2010-07-14,Lorong Chencharu Land Parcel 1,Aquarium Fish Export Centre,3513.8,na,na,Low See Wan,88899.2,na
4,2010-05-27,2010-06-24,2010-07-14,Lorong Chencharu Land Parcel 2,Aquarium Fish Export Centre,5230.7,na,na,Low See Wan,189874.4,na

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   date_of_launch                         40 non-null     object
 1   date_of_tender_closing_or_auction      40 non-null     object
 2   date_of_award                          40 non-null     object
 3   location                               40 non-null     object
 4   type_of_development_allowed            40 non-null     object
 5   site_area                              40 non-null     float64
 6   gross_floor_area                       40 non-null     object
 7   gross_plot_ratio                       40 non-null     object
 8   name_of_successful_tenderer_or_bidder  40 non-null     object
 9   successful_tender_or_auction_price     40 non-null     float64
 10  remark                                 40 non-null     object
dtypes: float64(2), object(9)
memory usage: 3.6+ KB

In [19]:
df.describe()

          site_area  successful_tender_or_auction_price
count     40.000000                        4.000000e+01
mean    8442.515000                        9.330992e+06
std    10647.200375                        3.002030e+07
min      329.500000                        8.889920e+04
25%     1521.950000                        1.959686e+05
50%     4167.900000                        7.950000e+05
75%    13016.825000                        3.745000e+06
max    50968.900000                        1.725150e+08

In [20]:
# dropping the redundant cols
df = df.drop(df.columns[[6,7,10]],axis=1)

In [21]:
df.head()

,date_of_launch,date_of_tender_closing_or_auction,date_of_award,location,type_of_development_allowed,site_area,name_of_successful_tenderer_or_bidder,successful_tender_or_auction_price
0,2010-11-30,2010-12-28,2011-01-12,Lorong Chencharu Land Parcel 10,Aquarium Fish Export Centre,5064.8,Sunbeam Aquarium (Pte) Ltd,289000.0
1,2010-08-18,2010-09-15,2010-10-28,Lorong Chencharu Land Parcel 8,Aquarium Fish Export Centre,5126.9,Aqua Fauna International Pte Ltd,198000.0
2,2010-08-18,2010-09-15,2010-10-28,Lorong Chencharu Land Parcel 11,Aquarium Fish Export Centre,4000.6,Aqua Fauna International Pte Ltd,112016.8
3,2010-05-27,2010-06-24,2010-07-14,Lorong Chencharu Land Parcel 1,Aquarium Fish Export Centre,3513.8,Low See Wan,88899.2
4,2010-05-27,2010-06-24,2010-07-14,Lorong Chencharu Land Parcel 2,Aquarium Fish Export Centre,5230.7,Low See Wan,189874.4

In [22]:
# replace all object 'NA' values with NaN
df.replace({'na': pd.NA, '': pd.NA}, inplace=True)

In [23]:
# dropping the na values
df.dropna(inplace=True)

In [24]:
df['date_of_award'] = pd.to_datetime(df['date_of_award'])
df['date_of_launch'] = pd.to_datetime(df['date_of_launch'])
df['date_of_tender_closing_or_auction'] = pd.to_datetime(df['date_of_tender_closing_or_auction'])

In [25]:
df.head()

,date_of_launch,date_of_tender_closing_or_auction,date_of_award,location,type_of_development_allowed,site_area,name_of_successful_tenderer_or_bidder,successful_tender_or_auction_price
0,2010-11-30,2010-12-28,2011-01-12,Lorong Chencharu Land Parcel 10,Aquarium Fish Export Centre,5064.8,Sunbeam Aquarium (Pte) Ltd,289000.0
1,2010-08-18,2010-09-15,2010-10-28,Lorong Chencharu Land Parcel 8,Aquarium Fish Export Centre,5126.9,Aqua Fauna International Pte Ltd,198000.0
2,2010-08-18,2010-09-15,2010-10-28,Lorong Chencharu Land Parcel 11,Aquarium Fish Export Centre,4000.6,Aqua Fauna International Pte Ltd,112016.8
3,2010-05-27,2010-06-24,2010-07-14,Lorong Chencharu Land Parcel 1,Aquarium Fish Export Centre,3513.8,Low See Wan,88899.2
4,2010-05-27,2010-06-24,2010-07-14,Lorong Chencharu Land Parcel 2,Aquarium Fish Export Centre,5230.7,Low See Wan,189874.4

In [26]:
df.to_csv("data/cleaned_sla.csv",index=False)

In [27]:
df_new = df.copy()

In [28]:
df_new['location'] = df['location'] + " Singapore"
df_new['location']

0     Lorong Chencharu Land Parcel 10 Singapore
1      Lorong Chencharu Land Parcel 8 Singapore
2     Lorong Chencharu Land Parcel 11 Singapore
3      Lorong Chencharu Land Parcel 1 Singapore
4      Lorong Chencharu Land Parcel 2 Singapore
5      Lorong Chencharu Land Parcel 7 Singapore
6      Lorong Chencharu Land Parcel 9 Singapore
7     Lorong Chencharu Land Parcel 12 Singapore
8     Lorong Chencharu Land Parcel 13 Singapore
9     Lorong Chencharu Land Parcel 14 Singapore
10     Lorong Chencharu Land Parcel 3 Singapore
11     Lorong Chencharu Land Parcel 4 Singapore
12     Lorong Chencharu Land Parcel 5 Singapore
13     Lorong Chencharu Land Parcel 6 Singapore
14            Tanah Merah Kechil Road Singapore
15                         Namly Road Singapore
16                       Glasgow Road Singapore
17                        Ridout Road Singapore
18                      Moonbeam Walk Singapore
19                     Eng Neo Avenue Singapore
20                     Eng Neo Avenue Singapore
21                        Jalan Insaf Singapore
22                        Bedok Close Singapore
23                         Somme Road Singapore
24    Woodlands Ave 2/ Rosewood Drive Singapore
25            Lorong Semangka (ST 4A) Singapore
26            Lorong Semangka (ST 4B) Singapore
27         Sungei Tengah Road (ST 44) Singapore
28                Jalan Lekar (ST 78) Singapore
Name: location, dtype: object

In [29]:
df_new.head()

,date_of_launch,date_of_tender_closing_or_auction,date_of_award,location,type_of_development_allowed,site_area,name_of_successful_tenderer_or_bidder,successful_tender_or_auction_price
0,2010-11-30,2010-12-28,2011-01-12,Lorong Chencharu Land Parcel 10 Singapore,Aquarium Fish Export Centre,5064.8,Sunbeam Aquarium (Pte) Ltd,289000.0
1,2010-08-18,2010-09-15,2010-10-28,Lorong Chencharu Land Parcel 8 Singapore,Aquarium Fish Export Centre,5126.9,Aqua Fauna International Pte Ltd,198000.0
2,2010-08-18,2010-09-15,2010-10-28,Lorong Chencharu Land Parcel 11 Singapore,Aquarium Fish Export Centre,4000.6,Aqua Fauna International Pte Ltd,112016.8
3,2010-05-27,2010-06-24,2010-07-14,Lorong Chencharu Land Parcel 1 Singapore,Aquarium Fish Export Centre,3513.8,Low See Wan,88899.2
4,2010-05-27,2010-06-24,2010-07-14,Lorong Chencharu Land Parcel 2 Singapore,Aquarium Fish Export Centre,5230.7,Low See Wan,189874.4

In [30]:
df_new.to_csv("data/cleaned_sla_SG.csv",index=False)