In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("../data/hdb-carpark-information.csv")
df.head()

,car_park_no,address,x_coord,y_coord,car_park_type,type_of_parking_system,short_term_parking,free_parking,night_parking,car_park_decks,gantry_height,car_park_basement
0,ACB,BLK 270/271 ALBERT CENTRE BASEMENT CAR PARK,30314.7936,31490.4942,BASEMENT CAR PARK,ELECTRONIC PARKING,WHOLE DAY,NO,YES,1,1.8,Y
1,ACM,BLK 98A ALJUNIED CRESCENT,33758.4143,33695.5198,MULTI-STOREY CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,5,2.1,N
2,AH1,BLK 101 JALAN DUSUN,29257.7203,34500.3599,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,0,0.0,N
3,AK19,BLOCK 253 ANG MO KIO STREET 21,28185.4359,39012.6664,SURFACE CAR PARK,COUPON PARKING,7AM-7PM,NO,NO,0,0.0,N
4,AK31,BLK 302/348 ANG MO KIO ST 31,29482.0290,38684.1754,SURFACE CAR PARK,COUPON PARKING,NO,NO,NO,0,0.0,N

In [17]:
df.describe()

            x_coord       y_coord  car_park_decks  gantry_height
count   2196.000000   2196.000000     2196.000000    2196.000000
mean   28719.155989  37868.048285        4.615665       2.459053
std     7746.379671   4869.575999        5.280196       2.034798
min    11539.089800  28123.411600        0.000000       0.000000
25%    22960.158250  34410.458900        0.000000       1.900000
50%    29362.319050  37424.145450        1.000000       2.150000
75%    34696.658500  40895.450100       10.000000       4.300000
max    45264.580600  48691.430800       21.000000       9.990000

In [18]:
# getting rid of redundant naming
df['car_park_type'] = df['car_park_type'].str.replace('CAR PARK', '')
df['type_of_parking_system'] = df['type_of_parking_system'].str.replace('PARKING', '')

In [19]:
# appending Singapore in front of the addresses
df["address"] = df["address"] + ", Singapore"

In [20]:
df.to_csv("../data/hdb-carpark-information-edited.csv")